<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="~{fragments/bootstrap :: head}"></head>
    <body>
        <div th:replace="~{fragments/barraDeNavegacion :: nav}"></div>

        <div th:if="${warning != null}" class="alert alert-warning alert-dismissible fade show" role="alert">
            <span th:text="${warning}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="d-flex flex-wrap gap-3 justify-content-center">
                        <div th:each="noticia : ${noticias}" class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${noticia.fechaPublicacion}">Card subtitle</h6>
                                <p class="card-text linea-texto" th:utext="${noticia.cuerpo}"></p>
                                <a th:href="@{/noticia/{id}(id=${noticia.idNoticia})}" class="btn btn-primary">Continuar leyendo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>